.projectsMain {
    width: 100%;
    background: rgb(236, 230, 230);
}

.projectsSection,
.projectItems {
    margin: 1rem auto;
    width: 70%;
}

.infoDecs {
    width: 60%;
    text-align: justify;
    line-height: 1.6;
}

.infoDecs h1 {
    font-size: 5rem;
    font-family: 800;
}

.infoDecs p,
.infoDecs h2 {
    font-size: 1.4rem;
    color: gray;
    font-weight: 400;
}

.infoDecs h2 {
    padding-top: 4rem;
    font-weight: 800;
}

.projectItems {
    display: flex;
    width: 90%;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
}
