.skillsSection {
    margin: 3rem auto;
    width: 70%;
}


.infoDecs {
    margin-top: 8rem;
    width: 60%;
    text-align: justify;
    line-height: 1.6;
}

.infoDecs h1 {
    font-size: 5rem;
    font-weight: 800;
}

.infoDecs p, .infoDecs h2 {
    font-size: 1.4rem;
    color: gray;
    font-weight: 400;
}
.infoDecs h2 {
    font-weight: 800;
}

.skillsCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}