.skillsSection {
    margin: 0 auto;
    width: 70%;
}


.infoDecs {
    margin-top: 8rem;
    width: 70%;
    text-align: justify;
    line-height: 1.4;
}

.infoDecs h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

.infoDecs p,
.infoDecs h2 {
    font-size: 1.4rem;
    color: gray;
    font-weight: 400;
}

.infoDecs h2 {
    font-weight: 800;
}

.skillsCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}

.narrow {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FaAngleDoubleDown,
.FaAngleDoubleUp {
    animation: upDown 2s ease infinite;
    margin-left: 1rem;
    color: #1b73e8;    
    font-size: 2rem;
    transition: 1s;
}

.FaAngleDoubleUp {
    animation: downUp 2s ease infinite;
}

.FaAngleDoubleDown:hover,
.FaAngleDoubleDown:active,
.FaAngleDoubleUp:hover,
.FaAngleDoubleUp:active {
    color: black;
    opacity: .8;
    font-size: 4rem;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes downUp {
    0% {
        transform: translateY(1rem);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1rem);
    }
}