nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    /* background: rgba(0, 0, 0, .2); */
    backdrop-filter: blur(10px);
}

.navBarLogo {
    padding-left: 2rem;
    width: 40%;
}

.navBarLogo:hover {
    width: 50%;
    transition: .5s;
}

.navBarElements {
    padding-right: 2rem;
    display: flex;
    justify-content: center;

}

.navBarElements li {
    height: 100%;
    margin: 0 1rem;
}

.navBarElements a {
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: .3s;
    color: #6289d2;
}

.navBarElements a:hover {
    font-size: 1.5rem;
    color: #202592;
}