nav {
    min-height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(4px);
    /* background: #fbfaf9; */
}

.navBarLogo {
    width: 40%;
    transition: .5s;
}

.navBarLogo:hover,
.navBarLogo:active {
    width: 50%;
}


.navBarElements {
    display: flex;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
}

.navBarElements li {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
}

.navBarElements a {
    color: #6289d2;
    transition: .5s;
}

.navBarElements a:hover {
    color: #202592;
    font-size: 1.7rem;
}