nav {
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 5;
}

.navBarLogo {
    width: 40%;
    transition: .5s;
}

.navBarLogo:hover,
.navBarLogo:active {
    transform: translateX(2rem);
}


.navBarElements {
    display: flex;
    padding-right: 2rem;
    justify-content: center;
    align-items: center;
}

.navBarElements li {
    margin: 0 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
}

.navBarElements li:hover {
    transform: translateY(-.3rem);
}

.navBarElements a {
    /* color: #6289d2; */
    color: #1b73e8;
    text-transform: uppercase;
    transition: .5s;
}

.navBarElements a:hover,
.navBarElements a:active {
    color: #202592;
    font-size: 1.7rem;
}