* {
    margin: 0;
    padding: 0;
    background: none;
}

html {
    background: #f5f4f6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
a,
p {
    color: #333;
}

.btn,
.btn-light {
    margin-top: 1rem;
    min-width: 8rem;
    padding: .5rem 1rem;
    /* background: #464CBE; */
    background: #1b73e8;
    text-align: center;
    border-radius: 8px;
    /* border: 1px solid #464CBE; */
    border: 1px solid #1b73e8;
    color: whitesmoke;
    transition: .5s;
    font-size: 1.5rem;
    font-weight: 600;
}

.btn-light {
    background: none;
    color: #1b73e8;
}

.btn:hover,
.btn:active {
    border: 1px solid #464CBE;
    color: #64e687;
    background-color: #042257;
    border: 1px solid #042257;
    box-shadow: 0 .5rem 1rem #222;
    transform: translate(2rem, -.5rem);
}

.btn-light:hover,
.btn-light:active {
    transform: translate(-2rem, -.5rem);
}

.arrow {
    padding: 0 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FaAngleDoubleDown,
.FaAngleDoubleUp {
    animation: upDown 2s ease infinite;
    margin-left: 1rem;
    color: #1b73e8;
    font-size: 2rem;
    transition: 1s;
}

.FaAngleDoubleUp {
    animation: downUp 2s ease infinite;
}

.FaAngleDoubleDown:hover,
.FaAngleDoubleDown:active,
.FaAngleDoubleUp:hover,
.FaAngleDoubleUp:active {
    color: black;
    opacity: .8;
    font-size: 4rem;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes downUp {
    0% {
        transform: translateY(1rem);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1rem);
    }
}